@import 'scss/colors.scss';

div[data-for="province"],
div[data-for="address2"] {
  display: none;
}
#snipcart-bill-me-later {
  color: white;
}
a:not([href]):not([tabindex]).snip-btn {
  color: black;
}
#snipcart-main-content {
  .snip-header__title {
    font-size: 2.5em;
    font-weight: 400;
    text-transform: none;
    left: 0.5em;
  }
  #snipcart-items {
    .snip-table__header {
      font-size: 1em;
      font-weight: 700;
      text-transform: none;
      color: $gray;
      background: $gray-200;
    }
    #snipcart-items-list {
      border-top: none;
    }
    .snip-product__name {
      text-transform: none;
    }

    #snipcart_custom_75-nach-100-Tagen {
      border: none;
      padding: 0;
    }
  }
  .custom-snipcart-footer-text {
    background: $gray-bg;
    padding: 3em 1.4em 1em;
    h2 {
      font-weight: 700;
      margin-bottom: 1.5em;
      color: $gray-600;
    }

    p {
      line-height: 1.8;
      color: $gray-600;
      margin-bottom: 1.5em;
    }

    a {
      cursor: pointer;
    }
  }
}
