@import 'scss/colors.scss';
@import 'scss/fonts.scss';

// Styling for the navbar
#mainNav {
  background-color: $black;
  .container {
    display: grid;
    grid: repeat(3, auto) / auto;
  }
  .navbar-toggler {
    font-size: 12px;
    right: 0;
    padding: 13px;
    text-transform: uppercase;
    color: white;
    border: 0;
    background-color: $primary;
    @include heading-font;
  }
  .navbar-brand {
    grid-row: 1 / -1;
    color: $primary;
    background-color: black;
    padding: 1rem;
    margin-right: auto;
    @include heading-font;
    &.active,
    &:active,
    &:focus,
    &:hover {
      color: $white;
    }
    .trialstore {
      color: white;
      text-transform: uppercase;
    }
    .subline {
      color: white;
      font-size: 40%;
    }
  }
  .nav-locations {
    grid-column: 2;
    justify-self: end;
    font-size: 0.6em;
    text-decoration: none;
    color: white;
    @include heading-font;
    &.active,
    &:hover {
      color: $white;
    }
  }
  .navbar-nav {
    .nav-item {
      .nav-link {
        font-size: 90%;
        font-weight: 400;
        padding: 0.75em 0;
        letter-spacing: 1px;
        color: white;
        @include heading-font;
        &.active,
        &:hover {
          color: $white;
        }
      }
    }
  }
}
@media (min-width: 992px) {
  #mainNav {
    padding-top: 5px;
    padding-bottom: 4px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color: black;
    .container {
      display: flex;
    }
    .navbar-brand {
      font-size: 1.5em;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
    }
    .nav-locations {
      display: block;
      font-size: 1em;
      color: $secondary;
      padding: 0 0.5em;
    }
    .nav-locations + .nav-locations {
      border-left: 2px solid $gray-600;
    }
    .navbar-nav {
      .nav-item {
        .nav-link {
          padding: 1.1em 1em !important;
        }
      }
    }
    &.navbar-shrink {
      padding-top: 5px;
      padding-bottom: 4px;
      background-color: black;
      .nav-locations {
        color: $secondary;
        &.active,
        &:hover {
          color: $white;
        }
      }
      .navbar-brand {
        font-size: 1.25em;
        padding: 12px 20px;
      }
    }
  }
}
