@import 'scss/colors.scss';
@import 'scss/fonts.scss';

.article-section {
  padding-top: 4em;
  padding-bottom: 2em;

  .article-img {
    width: 100%;
  }

  .info-text {
    font-size: 0.8em;
    margin: 3em 0 0;
    text-align: center;
  }

  blockquote {
    font-size: 1.4em;
    font-weight: 800;
    color: $gray-900;
  }
}
