@import 'scss/colors.scss';

#group-navi {
  @media (min-width: 720px) {
    position: relative;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 10.6em;
      right: 0;
      bottom: 0;
      border-top: 1px solid $secondary;
      z-index: -1;
    }
  }

  .group-navi-bar {
    display: flex;
    align-items: center;

    .group-navi-bar-item {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      position: relative;
      flex: 1 1 0%;
      font-size: 0.8em;
      height: 5rem;
      padding-bottom: 4px;
      text-align: center;
      color: white;
      background-size: cover;
      background-position: 80% center;
      margin-left: 1px;
      margin-right: 1px;
      transition: transform 0.2s ease-in;
      outline: 1px solid white;

      @media (min-width: 720px) {
        font-size: 1.4em;
        align-items: center;
      }

      &:before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.4);
      }

      &.active {
        margin: 0 1px;
        @media (min-width: 720px) {
          height: 5.5rem;
        }
        @media (max-width: 719px) {
          border-bottom: 4px solid $secondary;
          padding-bottom: 0;
        }
        &:before {
          display: none;
        }
      }

      &:hover {
        transform: scale(1.02);
        z-index: 5;
        &:before {
          background: rgba(0, 0, 0, 0.2);
        }
      }
    }

    #woman {
      background-image: url('./for-her.png');
    }

    #men {
      background-image: url('./for-him.png');
    }

    #home {
      background-image: url('./for-home.png');
    }
  }

  .group-navi-sublinks {
    margin-top: 0.4em;
    padding-bottom: 0.4em;
    border-bottom: 1px solid $secondary;

    a {
      color: $secondary;
      margin-right: 1em;
    }

    @media (max-width: 719px) {
      div {
        display: flex;
        justify-content: space-evenly;
        a {
          margin-right: 0;
        }
      }
    }
  }
}
