@import 'scss/colors.scss';

#howitworks {
  img {
    width: 11em;
    height: 10em;
    padding: 2em;
  }
  img:hover {
    animation: pulse 0.5s;
  }

  #steps {
    .col-md-4 {
      padding-left: 2em;
      padding-right: 2em;
    }
  }
}

