@import 'scss/colors.scss';
@import 'scss/fonts.scss';

#product-list {
  img {
    display: block;
  }
  h3 {
    margin-bottom: 1em;
    font-size: 0.8em;
  }

  p {
    line-height: 1.2;
    font-size: 0.8em;
    small {
      font-size: 0.8em;
    }
  }

  button {
    margin-top: 1em;
    font-size: 0.8em;
  }

  > div {
    @media (min-width: 800px) {
      margin: 0 0 3em;
      padding: 2em 3em;
    }
    margin-bottom: 4em;
  }
}
