@import 'scss/colors.scss';
@import 'scss/fonts.scss';

#articles.article-heading {
  position: relative;
  padding-bottom: 1em;
  .info-text {
    font-size: 0.8em;
    margin: 3em 0 0;
    text-align: right;
  }

  .snowflakes {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;

    img {
      position: absolute;
      width: 5vw;
      height: 5vw;
    }
  }
}
